.slick-prev {
  left: 0px;
  z-index: 9999;
}
.slick-prev:before {
  font-size: 40px;
}
.slick-next {
  right: 20px;
  z-index: 9999;
}
.slick-next:before {
  font-size: 40px;
}
.slick-dots {
  bottom: 20px;
}
.slick-dots li button::before {
  color: #ebe8e8;
  font-size: 20px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
